@model IEnumerable<Villa>



<div class="w-100 card border-0 p-4">

    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Villa List</h2>
            </div>
        </div>
    </div>


    <div class="card-body p-4 border">

        <div class="row pb-3">
            <div class="row pb-1">
                <div class="col-6 offset-6 text-end">
                    <a class="btn btn-secondary"  asp-action="Upsert"><i class="bi bi-plus-square"></i>  New Villa</a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Sqft</th>
                    <th>Occupancy</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Sqft</td>
                        <td style="width:15px;">@item.Occupancy</td>
                        <td style="width:120px;" class="btn-group-md position-sticky">
                            <a class="text-end btn btn-success"  asp-action="Update"><i class="bi bi-pen"></i></a>
                            <button  class="text-end btn btn-danger" asp-controller="Villa" asp-action="Remove"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>





