@model IEnumerable<VillaNumber>



<div class="w-100 card border-0 p-4">

    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Rooms List</h2>
            </div>
        </div>
    </div>


    <div class="card-body p-4 border">

        <div class="row pb-3">
            <div class="row pb-1">
                <div class="col-6 offset-6 text-end">
                    <a class="btn btn-secondary" asp-controller="VillaNumber" asp-action="Upsert"><i class="bi bi-plus-square"></i> New Villa</a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Name</th>     
                    <th>Special Details</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:100px;">@item.Villa_Number</td>
                        <td style="width:250px;">@item.Villa.Name</td>
                        <td style="width:450px;">@item.SpecialDetails</td>
                        <td style="width:120px;" class="btn-group-md position-sticky">
                            <a class="text-end btn btn-success" asp-route-villaId="@item.Villa_Number" asp-controller="VillaNumber" asp-action="Upsert">
                                <i class="bi bi-pen"></i>
                            </a>
                            <a class="text-end btn btn-danger" asp-route-villaId="@item.Villa_Number" asp-controller="VillaNumber" asp-action="Remove">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>






